html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Poppins", sans-serif;
}
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: rgb(0, 0, 0);
  opacity: 98%;
  height: 8vw;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media (max-width: 768px) {
  header {
    height: 70px;
  }
}
p {
  font-family: "Open Sans", sans-serif;
  color: rgb(226, 226, 226);
  font-size: 1.2vw;
}
.logo {
  width: 38px;
  display: inline-block;
  position: relative;
  right: -6%;
}

.header .container {
  width: 80%;
  margin: auto;
}

a {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 11.2px;
}
/* #navbar{
    width: 90%;
    display: flex;
    align-items: center;
}
@media (max-width: 768px){
    #navbar{
        width: 70%;
    }
}
#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    padding-bottom: 1vw;
    margin: 2vw;
    font-family: 'Poppins', sans-serif;
}

#navbar ul li a:hover {
    border-bottom: solid 1px white;
    color: white;
} */

.header__body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 39px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.850, 0.005, 0.200, 1.000);
}

.header__logo:hover {
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}

.header__burger {
  display: none;
}

.header__list li {
  display: inline-block;
}

.header__link {
  padding-bottom: 1vw;
  margin: 2vw;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.header__link:hover {
  border-bottom: solid 1px white;
  color: white;
}
@media (max-width: 767px) {
  .header__body {
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 60px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 1s ease 0s;
    background-color: rgba(0, 0, 0, 0.959);
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    margin: 70px auto;
  }

  .header__list li {
    margin: 50px;
    display: block;
    text-align: center;
  }

  .header__link {
    font-size: 20px;
  }
}

.presentacion {
  background: linear-gradient(
      to right,
      #000000bd,
      #000000ad,
      #0000008f,
      #000000a1,
      #0000008c
    ),
    url(../img/present.jpg);
  background-size: 100%;
  background-position: 0px -710px;
  padding: 8%;
  color: white;
  height: 41vw;
  padding-top: 8%;
}

.presentacion__container {
  width: 90%;
}

.presentacion__texto {
  width: 65%;
}

.presentacion a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0);
  border: 1px rgb(255, 255, 255);
  border-style: solid;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  position: absolute;
  right: 200px;
  top: 310px;
  transition-property: background color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  letter-spacing: 2px;
}
.presentacion a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.presentacion h1 {
  font-size: 5vw;
}
.presentacion h3 {
  font-size: 1.5vw;
  font-weight: lighter;
}

.presentacion__contacto {
  width: 30%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .presentacion {
    height: 550px;
    background-size: 600px;
    background-position: -150px -150px;
  }
  .presentacion__container {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
  }
  .presentacion__texto {
    width: 90%;
    margin: auto;
    height: 400px;
  }
  .presentacion h1 {
    width: 80%;
    font-size: 60px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .presentacion h3 {
    font-size: 16px;
  }
  .presentacion a {
    position: absolute;
    right: 165px;
    top: 450px;
  }
}

.sobremi {
  width: 100%;
  background-color: white;
  color: black;
  margin-top: 100px;
  margin-bottom: 200px;
}
.sobremi__container {
  display: flex;
  width: 85%;
  margin: auto;
}
.sobremi h1 {
  font-size: 4vw;
}
.sobremi p {
  color: rgba(0, 0, 0, 0.466);
  width: 100%;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
}
.sobremi__texto {
  display: inline-block;
  width: 60%;
}
.sobremi__image {
  width: 20%;
  margin: auto;
  display: inline;
}
.sobremi img {
  border-radius: 100%;
  width: 250px;
  box-shadow: 0px 0px 20px rgb(66, 66, 66);
}
@media (max-width: 768px) {
  .sobremi {
    height: 1100px;
    width: 100%;
  }
  .sobremi__container {
    width: 85%;
  }
  .sobremi img {
    display: none;
  }
  .sobremi__texto {
    width: 100%;
  }
  .sobremi h1 {
    font-size: 40px;
  }
  .sobremi p {
    font-size: 20px;
  }
}
.estudios {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.959);
  box-shadow: 0px 0px 20px rgb(66, 66, 66);
  color: white;
  padding: 8%;
  margin: auto;
}
.estudios__titulo {
  font-size: 4vw;
}
.estudios .estado {
  font-style: italic;
  color: rgb(226, 226, 226);
  margin-top: 1vw;
}

.uai {
  display: flex;
  height: 18vw;
  align-items: center;
}

.uai__titulo {
  width: 50%;
}
.uai__titulo h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}
.uai__titulo h2 {
  font-size: 1.5vw;
  text-align: left;
  padding: 0%;
}
.uai p {
  width: 50%;
  line-height: 140%;
}

.secundaria {
  display: flex;
  height: 20vw;
  align-items: center;
}

.secundaria__titulo {
  width: 50%;
}
.secundaria__titulo h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}
.secundaria__titulo h2 {
  font-size: 1.5vw;
  text-align: left;
  padding: 0%;
}
.secundaria p {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  line-height: 140%;
}
@media (max-width: 768px) {
  .estudios {
    height: 1400px;
  }
  .estudios__titulo {
    font-size: 45px;
    width: 90%;
    text-align: left;
    margin: 35px auto;
  }
  .uai {
    display: block;
    width: 90%;
    height: 600px;
    margin: auto;
  }
  .uai__titulo {
    display: inline-block;
    width: 100%;
  }
  .uai__titulo h1 {
    font-size: 30px;
    margin-bottom: 1vw;
  }
  .uai__titulo h2 {
    font-size: 20px;
    text-align: left;
    padding: 0%;
  }
  .uai p {
    margin: 30px 0;
    font-size: 20px;
    width: 100%;
  }
  .secundaria {
    display: block;
    width: 90%;
    height: 400px;
    margin: auto;
  }
  .secundaria__titulo {
    display: inline-block;
    width: 100%;
    margin: 30px 0;
  }
  .secundaria__titulo h1 {
    font-size: 30px;
    margin-bottom: 1vw;
  }
  .secundaria__titulo h2 {
    font-size: 20px;
    text-align: left;
    padding: 0%;
  }
  .secundaria p {
    font-size: 20px;
    width: 100%;
  }
}
.conocimientos {
  width: 90%;
  height: 30vw;
  margin: 15vw auto;
  background-color: rgb(255, 255, 255);
}
.conocimientos h1 {
  font-size: 4vw;
  margin: 5vw 3vw;
  text-align: center;
}
@media (max-width: 768px) {
  .conocimientos h1 {
    font-size: 45px;
    width: 90%;
  }
}
/* Slider */

.conocimientos .container {
  border-top: solid rgba(0, 0, 0, 0.466) 0.5px;
  border-bottom: solid rgba(0, 0, 0, 0.466) 0.5px;
  padding: 5vw;
}
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100px;
  position: relative;
  transition: 0.3s;
}
.jquery img,
.git img {
  width: 1000px;
}

.slick-slide img:hover {
  transform: scale(1.1);
  transition-timing-function: ease;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* .conocimientos__imagenes{
    border-top: solid 1px rgba(0, 0, 0, 0.123);
    border-bottom: solid 1px rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vw;
    margin-top: 5%;
    margin-bottom: 10%;
}
.conocimientos__imagenesimg{
    width: 8vw;
    margin: 2vw;
    position: relative;
    transition: .3s;
}
.conocimientos__imagenesimg:hover{
    transform: scale(1.1);
    transition-timing-function: ease;
} */

@media (max-width: 768px) {
  .conocimientos .container {
    padding: 0%;
    margin: 60px 0;
  }
  .slider img {
    width: 80px;
    margin: 80px;
  }
  .git img {
    width: 400px;
  }
  .jquery img {
    width: 100px;
  }
  .slick-slide {
    margin: 0px 1px;
  }
  .conocimientos {
    height: 400px;
    margin: 150px auto;
  }
}

.areasdeinteres {
  margin: auto;
  width: 100%;
  margin-bottom: 3vw;
}

.areasdeinteres h1 {
  width: 90%;
  font-size: 4vw;
  margin: 5vw 3vw;
  text-align: center;
}

.areasdeinteres__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 1vw 0vw;
}
.developer,
.hacker,
.cloud {
  width: 300px;
  background: #dff7ff;
  border-radius: 5%;
  transition: 0.3s;
  box-shadow: 0px 0px 20px rgb(240, 240, 240);
}
.developer:hover,
.hacker:hover,
.cloud:hover {
  transform: scale(1.1);
  transition-timing-function: ease;
}
.developer__img,
.hacker__img,
.cloud__img {
  width: 100%;
  text-align: center;
}
.developer__img h2,
.hacker__img h2,
.cloud__img h2 {
  text-align: center;
  margin-bottom: 10%;
  color: rgba(0, 0, 0, 0.74);
}
.developer img,
.hacker img,
.cloud img {
  width: 100px;
  margin: 3vw 0;
}

@media (max-width: 768px) {
  .areasdeinteres__container {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }
  .areasdeinteres {
    margin: 150px auto;
    height: 1050px;
  }
  .areasdeinteres h1 {
    font-size: 45px;
    width: 90%;
    margin: auto;
  }
  .developer,
  .hacker,
  .cloud {
    width: 100%;
    align-items: center;
    margin: 30px auto;
  }
  .developer img,
  .hacker img,
  .cloud img {
    width: 200px;
    margin: 3vw 0;
  }
  .developer h2,
  .hacker h2,
  .cloud h2 {
    margin: 3vw 0;
    font-size: 30px;
  }
  .developer p,
  .hacker p,
  .cloud p {
    font-size: 16px;
  }
}
.contacto {
  width: 90%;
  border: solid 0.5px rgba(0, 0, 0, 0.418);
  margin: 100px auto;
}
.contacto h1 {
  font-size: 4vw;
  margin: 2vw 3vw;
  text-align: left;
  padding: 50px 50px 0 0;
}
.contacto__container {
  margin: 0 auto;
  display: flex;
}
.contacto__medios {
  width: 35%;
  margin: 100px auto;
}
.contacto__medios a {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 20px;
  margin: 20px 0;
  text-decoration: underline;
}
.phone {
  text-decoration: none !important;
}
.contacto__medios img {
  width: 30px;
  margin: 0 20px;
}
.contacto__ubicacion {
  width: 40%;
  height: 40%;
  margin: 100px auto;
  position: relative;
  top: 15px;
  text-align: center;
}
.contacto__ubicacion img {
  width: 70px;
  margin: 10px;
}
.contacto__ubicacion h3 {
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
@media (max-width: 768px) {
  .contacto {
    width: 95%;
    margin: 40px auto;
  }
  .contacto__container {
    display: inline-block;
  }
  .contacto h1 {
    font-size: 45px;
    width: 90%;
    margin: auto;
  }
  .contacto__medios {
    width: 100%;
  }
  .contacto__medios a {
    font-size: 18px;
  }
  .contacto__ubicacion {
    width: 100%;
  }
}
footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container {
  width: 40%;
  height: 50%;
  margin: 5%;
  border-top: solid 0.5px rgba(255, 255, 255, 0.582);
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  filter: invert(1);
}
.footer__contacto img {
  width: 30px;
  margin: 3% 20px;
  transition: 0.5s;
}
.footer__container img:hover {
  opacity: 80%;
}
@media (max-width: 768px) {
  .footer__container {
    width: 80%;
  }
}
